.loglink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 24px;
     
}

.logo1 {
 
    width: 44px;
    height: 21px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    /* IRIS */
    
    color: #4D5AE5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.logo2 {
    width: 71px;
height: 21px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}